<%- include('partials/header') -%>
<body>
  <div class="container">
    <a href="/home">back</a>
    <a href="/logout">logout</a>
    
    <form action="/place/report" method="post">
      <div><input type="date" name="date" class="form-control" required></div>
      <input type="hidden" name="lat" id="lat" value="<%= lat %>">
      <input type="hidden" name="long" id="long" value="<%= long %>">      
      <input type="hidden" name="phys" id="phys" value="<%= phys %>">
      <input type="hidden" name="name" id="name" value="<%= name %>">
      <input type="hidden" name="reportType" id="reportType" value="<%= reportType %> ">
      <input type="hidden" name="locationID" id="locationID" value="<%= locationID %>">
      <div><input type="text" name="body" placeholder="description of event" class="form-control" required></div>
      <button class="btn-default" type="submit">submit</button>
    </form>

  </div>

</body>

<%- include('partials/footer') -%>
